<h4><i class="fa fa-handshake-o" style="color:red;"></i> Engagements</h4><br/>
<div class="row">
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header sunny-morning-gradient">
        <h2 class="card-header-title">{{numberOfAssignedMentees}}</h2>
        <p><i class="fa fa-users"></i> Assigned mentees</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header young-passion-gradient">
        <h2 class="card-header-title">{{numberOfPendingEngagements}}</h2>
        <p><i class="fa fa-spinner"></i> Pending engagements</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header aqua-gradient">
        <h2 class="card-header-title">{{numberOfCompletedEngagements}}</h2>
        <p><i class="fa fa-check"></i> Completed engagements</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-6">
    <mdb-select [options]="optionsSelect" (ngModelChange)="loadPagination($event)" [(ngModel)]="selectedValue"
      placeholder="" [label]="'Select entries to display'"></mdb-select>
  </div>
  <div class="col-md-6">
      <mdb-select [options]="optionsEnselect" (ngModelChange)="filterEngagement($event)" [(ngModel)]="enSelectedValue"
        placeholder="" [label]="'Select Engagement status'"></mdb-select>
  </div>
  <div class="col-md-6">
    <div class="md-form">
      <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
        mdbInputDirective>
      <label for="search-input">Search</label>
    </div>
  </div>
  <div class="col-12 mb-lg-5">
  </div>
  <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1" color="success">
    <thead class="sticky-top indigo lighten-4">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="engagements" [sortBy]="headElements[i]" scope="col">{{head}}
          <mdb-icon icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <tbody #row >
      <mdb-spinner *ngIf="IsSpinner" spinnerType="big" spinnerColor="blue" class="center"></mdb-spinner>
      <tr mdbTableCol *ngFor="let el of engagements; let i = index">
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.subject}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" style="color: red">{{el.mentee.user.firstName ? el.mentee.user.firstName
            : '' }} {{el.mentee.user.lastName ? el.mentee.user.lastName : ''}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.dateCreatedUtc | date:'dd/MM/yyyy'}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.scheduledDateUtc | date:'dd/MM/yyyy'}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{translateCommunicationMode(el.communicationMode)}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.startTime}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{translateEnagementStatus(el.status)}}</td>
          <td *ngIf="(i+1 >= firstItemIndex && i < lastItemIndex) && hasEngagementReport(el)"><a (click)="downloadReport(el)"><i class="fa fa-cloud-download fa-2x"
            style="color: green"></i></a></td> 
          <td *ngIf="(i+1 >= firstItemIndex && i < lastItemIndex) && !hasEngagementReport(el)">No report</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" style="width:10%">
           <a *ngIf="IsEngagementPending(el)" (click)="adjustEngagementModal.show()"> &nbsp;&nbsp;<i class="fa fa-pencil-square-o fa-2x" style="color:orange"></i></a>&nbsp;
            <a *ngIf="IsEngagementPending(el)" (click)="acceptEngagementModal.show()"><i class="fa fa-thumbs-o-up fa-2x" style="color:green"></i></a> 
            <a *ngIf="IsEngagementAccepted(el)" (click)="createEngagementTaskModal.show()"><i class="fa fa-plus-circle fa-2x" style="color:green"></i></a> &nbsp;
            <a *ngIf="IsEngagementAccepted(el)" (click)="completeEngagementModal.show()"><i class="fa fa-check-circle fa-2x" style="color:red"></i></a> 
          </td>
            <div mdbModal #adjustEngagementModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-side modal-top-left " role="document">
                <div class="modal-content">
                  <div class="modal-header indigo lighten-4">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="adjustEngagementModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-pencil-square-o"
                      style="color: red"></i> Adjust Engagement</h4>
                  </div>
                  <div class="modal-body">
                    <app-engagement-adjust [engagementInput]="el" (engagementOutput)="onAjustEngagement($event)"></app-engagement-adjust>
                  </div>
                  <div class="modal-footer indigo lighten-4">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="adjustEngagementModal.hide()"
                      mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!---Accept Engagement modal--->
            <div mdbModal #acceptEngagementModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-side modal-top-left modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header indigo lighten-4">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="acceptEngagementModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-check-circle"
                      style="color: red"></i> Accept Engagement</h4>
                  </div>
                  <div class="modal-body">
                    <app-engagement-accept [engagementInput]="el" (engagementOutput)="onAcceptEngagement($event)"></app-engagement-accept>
                  </div>
                  <div class="modal-footer indigo lighten-4">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="acceptEngagementModal.hide()"
                      mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!---Create Engagement Task modal--->
            <div mdbModal #createEngagementTaskModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-side modal-top-left modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header indigo lighten-4">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="createEngagementTaskModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-check-circle"
                      style="color: red"></i> Create Engagement Task</h4>
                  </div>
                  <div class="modal-body">
                    <app-engagement-task-create [engagementInput]="el"></app-engagement-task-create>
                  </div>
                  <div class="modal-footer indigo lighten-4">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="createEngagementTaskModal.hide()"
                      mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!---Complete Engagement modal--->
            <div mdbModal #completeEngagementModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-side modal-top-left" role="document">
                <div class="modal-content">
                  <div class="modal-header indigo lighten-4">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="completeEngagementModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-check-circle"
                      style="color: red"></i> Complete Engagement</h4>
                  </div>
                  <div class="modal-body">
                    <app-engagement-complete [engagementInput]="el" (engagementOutput)="onAcceptEngagement($event)" [engagementIndex]="i"></app-engagement-complete>
                  </div>
                  <div class="modal-footer indigo lighten-4">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="completeEngagementModal.hide()"
                      mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
            </div>
      </tr>
    </tbody>
    <tfoot class="indigo lighten-4 w-100">

      <tr>
        <td colspan="9">
          <mdb-table-pagination paginationAlign="" [searchDataSource]="engagements" (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"></mdb-table-pagination>
        </td>
      </tr>

    </tfoot>
  </table>

</div>
