<h4><i class="fa fa-tasks" style="color:red;"></i> Mentee Engagement Tasks</h4><br/>
<div class="row">
  <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1" color="success">
    <thead class="sticky-top indigo lighten-4">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="engagementTasks" [sortBy]="headElements[i]" scope="col">{{head}}
          <mdb-icon icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <mdb-spinner *ngIf="IsSpinner" spinnerType="big" spinnerColor="blue" class="center"></mdb-spinner>
    <tbody #row>
      <tr mdbTableCol *ngFor="let el of engagementTasks; let i = index">
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.engagement.subject}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="red-text">{{el.engagement.mentor.user.firstName}} {{el.engagement.mentor.user.lastName}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.details}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" >{{translateTaskCategory(el.taskCategory)}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.startDate | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.endDate | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{translateEnagementStatus(el.status)}}</td>
        
      </tr>
    </tbody>
    <tfoot class="indigo lighten-4 w-100">

      <tr>
        <td colspan="7">
          <mdb-table-pagination paginationAlign="" [searchDataSource]="engagementTasks" (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"></mdb-table-pagination>
        </td>
      </tr>

    </tfoot>
  </table>

</div>
