<!-- Material form login -->
<div class="indigo lighten-5" style="position:absolute; height: 100%; width: 100%; z-index: 99">
   
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 mt-lg-5">
        <mdb-card>

          <mdb-card-header class="indigo white-text text-center py-1">
            <div class="row">
              <div class="col-12">
                  <a [routerLink]="['/home']"><img src="assets/images/ic_stat_logon.png" alt="Hillcity logo" class="img-fluid" /></a>
              </div>
              
            </div>
          </mdb-card-header>
        
        
          <!--Card content-->
          <mdb-card-body class="px-lg-5 pt-0">
            <br/>
            <div *ngIf="IsError" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ErrorMessage}}
            </div>
            <!-- Form -->
            <form [formGroup]="loginForm" class="text-center" style="color: #757575;" (ngSubmit)="onSumbit()">
        
              <!-- Email -->
              <div class="md-form">
                <input type="text" id="materialLoginFormUsername" class="form-control" mdbInputDirective formControlName="Username">
                <label for="materialLoginFormUsername">Username</label>
              </div>
        
              <!-- Password -->
              <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective formControlName="Password">
                <label for="materialLoginFormPassword">Password</label>
              </div>
        
              <div class="d-flex justify-content-around">
                <div>
                  <!-- Remember me -->
                  <mdb-checkbox>Remember me</mdb-checkbox>
                </div>
                <div>
                  <!-- Forgot password -->
                  <a [routerLink]="['/account/forgetpassword']">Forgot password?</a>
                </div>
              </div>
              <!-- Sign in button -->
                <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0">Sign in</button>
        
              <!-- Register -->
              <p>Not a member?
                <a [routerLink]="['/account/register']">Register</a>
              </p>
        
              <!-- Social login -->
              <p>or sign in with:</p>
              <a type="button" class="btn-floating btn-fb btn-sm">
                <mdb-icon icon="facebook"></mdb-icon>
              </a>
              <a type="button" class="btn-floating btn-tw btn-sm">
                <mdb-icon icon="twitter"></mdb-icon>
              </a>
              <a type="button" class="btn-floating btn-li btn-sm">
                <mdb-icon icon="linkedin"></mdb-icon>
              </a>
              <a type="button" class="btn-floating btn-git btn-sm">
                <mdb-icon icon="github"></mdb-icon>
              </a>
        
            </form>
            <!-- Form -->
        
          </mdb-card-body>
        
        </mdb-card>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <br/>
    <br/>
</div>

<!-- Material form login -->
