<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">HillCity foundation</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Adding values to lives</p>
        <button class="btn btn-red btn-rounded btn-md">Discover more</button>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">4 axes of Impact</a>
        </p>
        <p>
          <a href="#!">Partner with HillCity Foundation</a>
        </p>
        <p>
          <a href="#!">About HillCity Foundation</a>
        </p>
        <p>
          <a href="#!">HillCity Alumni Forum</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-map-marker"></i> Suite 8, Silvershares Place Lekki-Epe Expressway, Lekki, Lagos</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> vision@hillcityfoundation.org</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +234 (0) 8063786315, +234 (0) 8166199904</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for here</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" mdbWavesEffect>
        <mdb-icon icon="facebook"></mdb-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1" mdbWavesEffect>
        <mdb-icon icon="twitter"></mdb-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1" mdbWavesEffect>
        <mdb-icon icon="google-plus"></mdb-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" mdbWavesEffect>
        <mdb-icon icon="linkedin"></mdb-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1" mdbWavesEffect>
        <mdb-icon icon="dribbble"></mdb-icon>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> HillCity foundation</a>&nbsp; designed by
    <a href="#"> Valtech</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->