<h4><i class="fa fa-users" style="color:red;"></i> Assigned mentees information</h4><br/>
<div class="row">
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header sunny-morning-gradient">
        <h2 class="card-header-title">{{getNumberOfMentees()}}</h2>
        <p><i class="fa fa-users"></i> Assigned mentees</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header young-passion-gradient">
        <h2 class="card-header-title">{{numberOfPendingEnagagaments}}</h2>
        <p><i class="fa fa-spinner"></i> Pending engagements</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header aqua-gradient">
        <h2 class="card-header-title">{{numberOfCompletedEngagements}}</h2>
        <p><i class="fa fa-check"></i> Completed engagements</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-6">
    <mdb-select [options]="optionsSelect" (ngModelChange)="loadPagination($event)" [(ngModel)]="selectedValue"
      placeholder="Select entries to display"></mdb-select>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="md-form">
      <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
        mdbInputDirective>
      <label for="search-input">Search</label>
    </div>
  </div>
  <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1" color="success">
    <thead class="sticky-top indigo lighten-4">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="mentees" [sortBy]="headElements[i]" scope="col">{{head}}
          <mdb-icon icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <mdb-spinner *ngIf="IsSpinner" spinnerType="big" spinnerColor="blue" class="center"></mdb-spinner>
    <tbody #row>
      <tr mdbTableCol *ngFor="let el of getCurrentMentees(); let i = index">
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex"><img [src]="el.user.photo ? el.user.photo : 'assets/images/userimage.png'"
            class="rounded-circle" height="50" width="50"></td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="red-text">{{el.user.firstName ? el.user.firstName
          : '' }} {{el.user.lastName ? el.user.lastName : ''}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.university}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.user.phoneNumber}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex"><a href="mailto:{{el.user.email}}" class="blue-text">{{el.user.email}}</a></td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex"><a (click)="basicModal.show()"><i class="fa fa-eye"
              style="color: green"></i></a></td>
        <div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
          aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-side modal-top-right " role="document">
            <div class="modal-content">
              <div class="modal-header indigo lighten-4">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Mentee Information</h4>
              </div>
              <div class="modal-body">
                <app-menteedetails [currentMentee]="el"></app-menteedetails>
              </div>
              <div class="modal-footer indigo lighten-4">
                <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
                  mdbWavesEffect>Close</button>
              </div>
            </div>
          </div>
        </div>

      </tr>
    </tbody>
    <tfoot class="indigo lighten-4 w-100">

      <tr>
        <td colspan="6">
          <mdb-table-pagination paginationAlign="" [searchDataSource]="mentees" (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"></mdb-table-pagination>
        </td>
      </tr>

    </tfoot>
  </table>

</div>