<div class="row" style="height: 500px;overflow-y: auto">
    <div class="col-12 ml-3">
        <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
            <mdb-card-header>
                <h5>Engagement Info</h5>
            </mdb-card-header>
            <mdb-card-body>
              <div>
                <p><i class="fa fa-handshake-o"></i> ID:  {{engagementInput.subject}}</p>
                <p><i class="fa fa-user"></i> Requested by:  {{engagementInput.mentee.user.firstName}} {{engagementInput.mentee.user.lastName}}</p>
                <p><i class="fa fa-calendar"></i> Date:  {{engagementInput.scheduledDateUtc | date:'dd/MM/yyyy'}}</p>
                <p><i class="fa fa-clock-o"></i> Time:  {{engagementInput.startTime}}</p>
                <p><i class="fa fa-external-link"></i> Mode:  {{translateCommunicationMode(engagementInput.communicationMode)}}</p>
              </div>
            </mdb-card-body> 
          </mdb-card>
    </div>
    
    <div class="col-12">
        <form class="text-center" [formGroup]="engagementTaskFormGroup" style="color: #757575;" (ngSubmit) ="onSubmit()">
          <div class="md-form">
              <mdb-select [options]="optionSelect" placeholder="" [label]="'TaskCategory'" formControlName="taskCategory"></mdb-select>
          </div>
          <!-- Email -->
          <div class="md-form">
            <input type="text" id="materialRegisterFormDetails" class="form-control" aria-describedby="materialRegisterFormDeatails"
              mdbInputDirective formControlName="details">
            <label for="materialRegisterFormDetails">Details</label>
          </div>
                   <!-- Sign in button -->
          <button type="submit" mdbBtn color="success" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" [disabled]="!engagementTaskFormGroup.valid">Create</button>
          <!-- Register -->
        </form>
    </div>
</div>