<div>
  <h4><i class="fa fa-user-secret" style="color:red;"></i> Assigned mentor information</h4><br/>
  <div *ngIf="!HasMentor()" class ="row">
    <p>No mentor assigned. Kindly contact admin at <a href="mailto:vision@hillcityfoundation.com">vision@hillcityfoundation.com</a></p>
  </div>
  <div *ngIf="HasMentor()" class="row">
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <mdb-card cascade="true">

        <!--Card image-->
        <div class="view view-cascade gradient-card-header young-passion-gradient">
          <h2 class="card-header-title">{{numberOfPendingEngagments}}</h2>
          <p><i class="fa fa-spinner"></i> Pending engagements</p>
        </div>

        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-lg-4 col-md-6" style="text-align: center;">
      <div>
        <!-- Card -->
        <div class="card testimonial-card">

          <!-- Background color -->
          <div class="card-up indigo lighten-4"></div>
          <!-- Avatar -->
          <div class="avatar mx-auto white">
            <img [src]="getPhoto()" class="rounded-circle" alt="woman avatar">
          </div>

          <!-- Content -->
          <div class="card-body">
            <!-- Name -->
            <h4 class="card-title">{{ mentor.user.firstName + ' ' + mentor.user.lastName}}</h4>
            <hr>
            <!-- Quotation -->
            <p><strong>Email: </strong> <i style="color:red; font-style: italic">{{ mentor.user.email}}</i></p>
            <p><strong>Phone: </strong><i style="color:red; font-style: italic">{{ mentor.user.phoneNumber}}</i></p>
            <p><strong>Occupation: </strong><i style="color:red; font-style: italic">{{mentor.occupation}}</i></p>
          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <mdb-card cascade="true">
  
        <!--Card image-->
        <div class="view view-cascade gradient-card-header aqua-gradient">
          <h2 class="card-header-title">{{numberOfCompletedEngagements}}</h2>
          <p><i class="fa fa-check"></i> Completed engagements</p>
        </div>
  
        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
</div>