<div class="indigo lighten-5" style="position: absolute; height: 100%; width: 100%; z-index: 99">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 mt-lg-5" style="height: 600px;overflow-y: auto">
      <!-- Material form register -->
      <mdb-card>

        <mdb-card-header class="indigo white-text text-center">
          <div class="row">
            <div class="col-12">
              <a [routerLink]="['/home']"><img src="assets/images/ic_stat_logon.png" alt="Hillcity logo" class="img-fluid" /></a>
            </div>

          </div>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <br/>
          <div *ngIf="IsError" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ErrorMessage}}
          </div>
          <!-- Form -->
          <br />
          <form [formGroup]="registerForm" class="text-center" style="color: #757575;" (ngSubmit)="register()">
            <div class="md-form mt-0">
              <input type="text" id="materialRegisterFormUsername" class="form-control" mdbInputDirective formControlName="Username">
              <label for="materialRegisterFormUsername">Username</label>
            </div>
            <!-- E-mail -->
            <div class="md-form mt-0">
              <input type="email" id="materialRegisterFormEmail" class="form-control" mdbInputDirective formControlName="Email">
              <label for="materialRegisterFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
                mdbInputDirective formControlName="Password">
              <label for="materialRegisterFormPassword">Password</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  aleast lower and upper case character with a special character, a number and of minimum length 8 and maximum length 15
              </small>
            </div>
            <!--Role-->
            <div class="md-form mt-0">
              <mdb-select [options]="optionsSelect" id="materialRegisterFormRole" placeholder="Select Role" formControlName="RoleName"></mdb-select>
            </div>
            <!---Gender-->
            <div class="md-form mt-0">
                <mdb-select [options]="genderSelect" id="materialRegisterFormGender" placeholder="Select Gender" formControlName="Gender"></mdb-select>
            </div>
            <!-- Phone number -->
            <div class="md-form">
              <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
                mdbInputDirective formControlName="PhoneNumber">
              <label for="materialRegisterFormPhone">Phone number</label>

            </div>
            <!---Location-->
            <div class="md-form" formGroupName="Location" novalidate>
                <input type="text" id="materialRegisterFormAddress" class="form-control" aria-describedby="materialRegisterFormAddressBlock"
                  mdbInputDirective formControlName="Address">
                <label for="materialRegisterFormAddress">Address</label>
  
            </div>

            <!-- Sign up button -->
            <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" [disabled]="registerForm.pristine">Sign
              up</button>
            <button type="submit" mdbBtn color="default" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" [disabled]="registerForm.pristine" (click)="revert()">Revert</button>
            <!-- Register -->
            <p>A member?
              <a [routerLink]="['/account/login']">Sign in</a>
            </p>
            <!-- Social register -->
            <p>or sign in with:</p>
              <a type="button" class="btn-floating btn-fb btn-sm">
                <mdb-icon icon="facebook"></mdb-icon>
              </a>
              <a type="button" class="btn-floating btn-tw btn-sm">
                <mdb-icon icon="twitter"></mdb-icon>
              </a>
              <a type="button" class="btn-floating btn-li btn-sm">
                <mdb-icon icon="linkedin"></mdb-icon>
              </a>
              <a type="button" class="btn-floating btn-git btn-sm">
                <mdb-icon icon="github"></mdb-icon>
              </a>
          </form>
          <!-- Form -->

        </mdb-card-body>

      </mdb-card>
      <!-- Material form register -->
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
