<h4><i class="fa fa-vcard-o" style="color:red;"></i> Mentee profile</h4>
<form class="text-center" style="color: #757575;" [formGroup]="menteeFormGroup" (ngSubmit)="onSubmit()">
    
    <!-- Email -->
    <div class="md-form">
      <input type="text" id="materialLoginFormUniversity" class="form-control" mdbInputDirective formControlName="university">
      <label for="materialLoginFormUniversity">University</label>
    </div>

    <!-- Password -->
    <div class="md-form">
        <input type="text" id="materialLoginFormCourse" class="form-control" mdbInputDirective formControlName="course">
        <label for="materialLoginFormCourse">Course</label>
    </div>
    <div class="md-form" novalidate>
      <mdb-date-picker name="mydate" id="materialDateOfAdmission" [options]="myDatePickerOptions" [placeholder]="" formControlName="dateOfAdmission" [label]="'Date of Admission'"></mdb-date-picker>
    </div>
    
    <div class="md-form" novalidate *ngIf="!HasMentee()">
      <mdb-date-picker name="mydate" id="materialDateOfGraduation" [options]="myDatePickerOptions" [placeholder]="" formControlName="dateOfGraduation" [label]="'Date of graduation'"></mdb-date-picker>
    </div>

    <!-- Sign in button -->
      <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" [disabled]="!menteeFormGroup.valid">Save</button>

    <!-- Register -->

</form>
