<div style="height: 500px;overflow-y: auto">
  <div class="col-12">
    <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
      <mdb-card-header>
        <h5>Engagement Task Info</h5>
      </mdb-card-header>
      <mdb-card-body>
        <div>
          <p><i class="fa fa-handshake-o"></i> Engagement ID: {{engagementTaskInput.engagement.subject}}</p>
          <p><i class="fa fa-user"></i> Assigned To: {{engagementTaskInput.engagement.mentee.user.firstName}}
            {{engagementTaskInput.engagement.mentee.user.lastName}}</p>
            <p><i class="fa fa-calendar"></i> Date:  {{engagementTaskInput.startDate | date:'dd/MM/yyyy'}}</p>
            <p><i class="fa fa-calendar"></i> Date:  {{engagementTaskInput.endDate | date:'dd/MM/yyyy'}}</p>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-12">
    <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
      <mdb-card-body>
        <mdb-card-text class="text-white">
          <p><strong>WHAT IS EXPECTED OF YOU: </strong>As a mentor you are expected to honestly review each engagement
            with your mentee.</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
  
  <div class="col-md-6 ml-5">
      <mdb-spinner *ngIf="!hasEngageCompleted()" spinnerType="small" spinnerColor="white"></mdb-spinner>
    <button mdbBtn color="success" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" (click)="onSubmit()" 
    [disabled]="IsComplete" >Complete</button>
  </div>
</div>
