<h4><i class="fa fa-tasks" style="color:red;"></i> Mentor Engagement Tasks</h4><br/>
<div class="row">
  <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1" color="success">
    <thead class="sticky-top indigo lighten-4">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="engagementTasks" [sortBy]="headElements[i]" scope="col">{{head}}
          <mdb-icon icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <mdb-spinner *ngIf="IsSpinner" spinnerType="big" spinnerColor="blue" class="center"></mdb-spinner>
    <tbody #row>
      <tr mdbTableCol *ngFor="let el of engagementTasks; let i = index">
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.engagement.subject}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="red-text">{{el.engagement.mentee.user.firstName}} {{el.engagement.mentee.user.lastName}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.details}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" >{{translateTaskCategory(el.taskCategory)}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.startDate | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.endDate | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{translateEnagementStatus(el.status)}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex"><a (click)="closeEngagementTaskModal.show()"><i class="fa fa-check-circle fa-2x" style="color: green"></i></a></td>
        <div mdbModal #closeEngagementTaskModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-side modal-top-left " role="document">
                <div class="modal-content">
                  <div class="modal-header indigo lighten-4">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeEngagementTaskModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-close"
                      style="color: red"></i> Complete Engagement Task</h4>
                  </div>
                  <div class="modal-body">
                    <app-engagement-task-complete [engagementTaskInput]="el" (engagementTaskOutput)="onEngagementTaskCompleted($event)"></app-engagement-task-complete>
                  </div>
                  <div class="modal-footer indigo lighten-4">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="closeEngagementTaskModal.hide()"
                      mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
        </div>
      </tr>
    </tbody>
    <tfoot class="indigo lighten-4 w-100">

      <tr>
        <td colspan="8">
          <mdb-table-pagination paginationAlign="" [searchDataSource]="engagementTasks" (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"></mdb-table-pagination>
        </td>
      </tr>

    </tfoot>
  </table>

</div>
