<div class="col-md-9 center">
    <h4><i class="fa fa-user-plus" style="color:red;"></i> User profile</h4><br/>
    <div *ngIf="IsError" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
        Kindly fill in the form correctly
    </div>
    <form [formGroup]="userProfileForm" class="text-center" style="color: #757575;" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="md-form">
          <input type="text" id="materialLoginFormFirstname" class="form-control" mdbInputDirective formControlName="firstName">
          <label for="materialLoginFormFirstname">Firstname</label>
        </div>
    
        <!-- Password -->
        <div class="md-form">
            <input type="text" id="materialLoginFormLastname" class="form-control" mdbInputDirective formControlName="lastName">
            <label for="materialLoginFormLastname">Lastname</label>
        </div>
    
        <div class="md-form" formGroupName="location" novalidate>
            <input type="text" id="materialRegisterFormAddress" class="form-control" aria-describedby="materialRegisterFormAddressBlock"
              mdbInputDirective formControlName="address">
            <label for="materialRegisterFormAddress">Address</label>

        </div>
        <!-- Sign in button -->
          <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0">Save</button>
    
        <!-- Register -->

    </form>
</div>
<hr/>
<div *ngIf="IsMentee()" class="col-9 center">
   <app-mentee></app-mentee>
</div>
<div *ngIf="IsMentor()" class="col-9 center">
  <app-mentor></app-mentor>
</div>
