<p>
  admin works!
</p>
<!--Navbar-->
<div class="indigo lighten-5">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-lg-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-skype"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
      <!-- Links -->

      <!-- Search form -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-phone">+234(0)8063786315, +234(0)8166199904</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-envelope"></i>vision@hillcityfoundation.org</a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-light navbar-expand-lg white lighten-5">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="assets/images/logotrim.png" alt="">
      </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>

      <!-- Links -->

      <!-- Links -->

      <!-- Search form -->
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light mt-3"
            mdbWavesEffect>
            Welcome {{ sharedService.username | titlecase}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/users/profile']">Edit profile</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="loggedOut()">Logout</a>
          </div>
        </li>

      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <br />

  <div class="row">
    <div class="col-md-3 ml-3">
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img [src]="getPhoto()" class="rounded-circle img-responsive">
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4><a [routerLink]="['/user/users/photoupload']" routerLinkActive="router-link-active"  mdbTooltip="click here to edit photo" placement="top">{{ User?.firstName}} {{User?.lastName}}</a></h4>
          </mdb-card-title>
          <hr>
          <mdb-accordion [multiple]="true">
            <mdb-accordion-item [collapsed]="false">
              <mdb-accordion-item-head><i class="fa fa-user-circle-o fa-2x"></i></mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <a [routerLink]="['/user/users/profile']" routerLinkActive="router-link-active" ><strong>Profile edit</strong></a>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <mdb-accordion-item>
              <mdb-accordion-item-head><i class="fa fa-handshake-o fa-2x"></i></mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <a ><strong>Assign mentor</strong></a>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            
          </mdb-accordion>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-8">
      <mdb-card>
        <mdb-card-body>
            <router-outlet></router-outlet>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

