<!-- Material form login -->
<div class="indigo lighten-5" style="position: absolute; height: 100%; width: 100%; z-index: 99">
   
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 mt-lg-5">
      <mdb-card>

        <mdb-card-header class="indigo white-text text-center py-1">
          <div class="row">
            <div class="col-12">
                <a [routerLink]="['/home']"><img src="assets/images/ic_stat_logon.png" alt="Hillcity logo" class="img-fluid" /></a>
            </div>
            
          </div>
        </mdb-card-header>
      
      
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <br/>
          <div *ngIf="IsError" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeErrorAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ErrorMessage}}
          </div>
          <div *ngIf="IsSuccess" #alert class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="closeSuccessAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
            Your password has been successfully changed. Click on the button below to continue.
          </div>
          <!-- Form -->
          <form [formGroup]="resetPasswordForm" class="text-center" style="color: #757575;" (ngSubmit)="onSubmit()">
      
            <!-- Email -->
            <div class="md-form">
              <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective formControlName="Password" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label for="materialLoginFormPassword">Password</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                aleast lower and upper case character with a special character, a number and of minimum length 8 and maximum length 15
            </small>
            </div>
            <!-- Sign in button -->
              <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0">{{ChangeText}}</button>
      
            <!-- Register -->
          </form>
          <!-- Form -->
      
        </mdb-card-body>
      
      </mdb-card>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <br/>
  <br/>
</div>

<!-- Material form login -->
