<div class="row" style="height: 500px;overflow-y: auto">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <h6 class="text-center"><i class="fa fa-info-circle"></i> fields marked <i style="color: red">*</i> are compulsory</h6>
  </div>
  <div class="col-md-1"></div>
  
  <div class="col-12">
    <form class="text-center" [formGroup]="engagementFormGroup" style="color: #757575;" (ngSubmit) ="onSubmit()">
      <div class="md-form">
        <div class="row">
          <div class="col-1">
            <i style="color: red">*</i>
          </div>
          <div class="col-11">
            <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [placeholder]="" [label]="'Start Time'" formControlName="startTime"></mdb-time-picker>
          </div>
        </div>
      </div>
      <!-- Email -->
      <div class="md-form">
        <div class="row">
          <div class="col-1">
            <i style="color: red">*</i>
          </div>
          <div class="col-11">
            <mdb-select [options]="optionSelect" placeholder="" [label]="'Duration'" formControlName="duration"></mdb-select>
          </div>
        </div>
      </div>
      <div class="md-form" novalidate>
        <div class="row">
          <div class="col-1">
            <i style="color: red">*</i>
          </div>
          <div class="col-11">
            <mdb-date-picker name="mydate" id="materialDateCreated" [options]="myDatePickerOptions" [placeholder]="''"
              [label]="'Scheduled date'" formControlName="scheduleDateUtc"></mdb-date-picker>
          </div>
        </div>

      </div>
      <div class="md-form">
        <div class="row">
          <div class="col-1">
            <i style="color: red">*</i>
          </div>
          <div class="col-11">
            <mdb-select [options]="optionCommMode" placeholder="" [label]="'Engagement communication mode'" formControlName="communicationMode"></mdb-select>
          </div>
        </div>

      </div>
      <div class="md-form" formGroupName="location" novalidate>
        <input type="text" id="materialRegisterFormAddress" class="form-control" aria-describedby="materialRegisterFormAddressBlock"
          mdbInputDirective formControlName="address">
        <label for="materialRegisterFormAddress">Address</label>

      </div>
      <!-- Sign in button -->
      <button type="submit" mdbBtn color="success" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0">Save</button>

      <!-- Register -->

    </form>
  </div>

</div>