<div class="text-center text-justify">
  <p><img class="rounded-circle" [src]="currentMentee.user.photo ? currentMentee.user.photo : 'assets/images/userimage.png'" height="150" width="150"/></p>
  <p>Name: <i style="color: red">{{currentMentee.user.firstName ? currentMentee.user.firstName : ''}}  {{currentMentee.user.lastName ? currentMentee.user.lastName : ''}}</i></p>
  <P>Gender: <i style="color: red">{{currentMentee.user.gender === 1 ? 'Male' : 'Female'}}</i></P>
  <p>University: <i style="color: red">{{ currentMentee.university}}</i></p>
  <p>Course: <i style="color: red">{{currentMentee.course}}</i></p>
  <p>Email: <i style="color: red">{{currentMentee.user.email}}</i></p>
  <P>Phone-No: <i style="color: red">{{currentMentee.user.phoneNumber ? currentMentee.user.phoneNumber : ''}}</i></P>
  <P>Date Of Admission: <i style="color: red">{{ currentMentee.dateOfAdmission | date: 'dd/MM/yyyy'}}</i></P>
  <p>Date of Graduation: <i style="color: red">{{ currentMentee.dateOfGraduation | date: 'dd/MM/yyyy'}}</i></p>
  <p>Address: <i style="color: red">{{currentMentee.user?.location.address ? currentMentee.user?.location.address : '' }}</i></p>
  <p></p>
</div>