<div class="col-md-9 center">
    <h4><i class="fa fa-file-photo-o" style="color:red;"></i> Photo upload</h4>
    <form>
        <div class="file-field md-form">
            <div mdbBtn floating="true" size="md" color="indigo" mdbWavesEffect>
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
            </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
          </div>
        </div>
        <p class="text-center font-italic" style="color: red; font-size: small">
            *image should not be more than 1MB with file format .jpg|.jpeg|.png only accepted*
        </p>
        <button mdbBtn type="button" color="indigo" rounded="true" class="waves-light" (click)="startUpload()" mdbWavesEffect>Start uploading</button>
        <button mdbBtn type="button" rounded="true" color="danger" (click)="removeFirstFileFromQueue()" mdbWavesEffect>Delete file
        </button>
  </form>
</div>
