<div style="height: 500px;overflow-y: auto">
  <div class="col-12">
    <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
      <mdb-card-header>
        <h5>Engagement Info</h5>
      </mdb-card-header>
      <mdb-card-body>
        <div>
          <p><i class="fa fa-handshake-o"></i> ID: {{engagementInput.subject}}</p>
          <p><i class="fa fa-user"></i> Requested by: {{engagementInput.mentee.user.firstName}}
            {{engagementInput.mentee.user.lastName}}</p>
            <p><i class="fa fa-calendar"></i> Date:  {{engagementInput.scheduledDateUtc | date:'dd/MM/yyyy'}}</p>
            <p><i class="fa fa-clock-o"></i> Time:  {{engagementInput.startTime}}</p>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-12">
    <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
      <mdb-card-body>
        <mdb-card-text class="text-white">
          <p><strong>WHAT IS EXPECTED OF YOU: </strong>As a mentor you are expected to honestly review each engagement
            with your mentee.</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
  <!-- <div class="col-12">
    <div class="form-check form-check-inline">
      Did this engagement hold
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}1" name="inlineMaterialRadiosExample"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}1">Yes</label>
    </div>

    
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}2" name="inlineMaterialRadiosExample"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}2">No</label>
    </div>


  </div> 
  <div class="col-12">
    <div class="form-check form-check-inline">
     Was the engagement effective
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}3" name="inlineMaterialRadiosExample2"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}3">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}4" name="inlineMaterialRadiosExample2"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}4">No</label>
    </div>


  </div>
  <div class="col-12">
    <div class="form-check form-check-inline">
     Is the engagement report attached?
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}5" name="inlineMaterialRadiosExample3"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}5">Yes</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}6" name="inlineMaterialRadiosExample3"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}6">No</label>
    </div>


  </div>
  <div class="col-12">
    <div class="form-check form-check-inline">
     Are satisfied with the report?
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}7" name="inlineMaterialRadiosExample4"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}7">Yes</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}8" name="inlineMaterialRadiosExample4"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}8">No</label>
    </div>


  </div>
  <div class="col-12">
    <div class="form-check form-check-inline">
     Do consider the engagement complete
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}9" name="inlineMaterialRadiosExample5"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}9">Yes</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" id="materialInline{{engagementIndex}}10" name="inlineMaterialRadiosExample5"
        mdbInputDirective>
      <label class="form-check-label" for="materialInline{{engagementIndex}}10">No</label>
    </div>
  </div> -->
  <div class="col-6 ml-5">
      <mdb-spinner *ngIf="!hasEngageCompleted()" spinnerType="small" spinnerColor="white"></mdb-spinner>
    <button mdbBtn color="success" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" (click)="onAccept()" 
    [disabled]="IsengagementAccepted" *ngIf="hasEngageCompleted()">Complete</button>
  </div>
</div>
