<!-- Material form login -->
<div class="indigo lighten-5" style="position: absolute; height: 100%; width: 100%; z-index: 99">
   
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 mt-lg-5">
        <mdb-card>

          <mdb-card-header class="indigo white-text text-center py-1">
            <div class="row">
              <div class="col-12">
                  <a [routerLink]="['/home']"><img src="assets/images/ic_stat_logon.png" alt="Hillcity logo" class="img-fluid" /></a>
              </div>
              
            </div>
          </mdb-card-header>
        
        
          <!--Card content-->
          <mdb-card-body class="px-lg-5 pt-0">
        
            <!-- Form -->
            <form class="text-center" style="color: #757575;">
        
              <!-- Email -->
              <div class="md-form">
                <p>You have been successfully registered on the HillCity portal and email has been sent to <a href="mailto:{{email}}">{{email}}</a>. click below to continue </p>
              </div>
              <!-- Sign in button -->
               
                <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" (click)="continue()">Continue</button>
        
              <!-- Register -->
            </form>
            <!-- Form -->
        
          </mdb-card-body>
        
        </mdb-card>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <br/>
    <br/>
</div>

<!-- Material form login -->
