<div class="row">
    <p><strong>&nbsp;Engagement ID</strong>: <i style="color: red">{{engagementInput.subject}}</i></p>
    <form>
        <div class="file-field md-form">
            <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              <input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
            </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
          </div>
        </div>
        <p class="text-center font-italic" style="color: red; font-size: small">
            *file should not be more than 5MB with file format .pdf only accepted*
        </p>
        <button mdbBtn type="button" color="success" rounded="true" class="waves-light" (click)="startUpload()" mdbWavesEffect>Start uploading</button>
        <button mdbBtn type="button" rounded="true" color="info" (click)="removeFirstFileFromQueue()" mdbWavesEffect>Delete file
        </button>
  </form>
</div>
