<h4><i class="fa fa-handshake-o" style="color:red;"></i> Engagements</h4><br />
<div class="row">
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header sunny-morning-gradient">
        <h2 class="card-header-title">{{numberOfAssignedMentor}}</h2>
        <p><i class="fa fa-users"></i> Assigned mentor</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header young-passion-gradient">
        <h2 class="card-header-title">{{numberOfPendingEngagements}}</h2>
        <p><i class="fa fa-spinner"></i> Pending engagements</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
  <div class="col-lg-4 col-md-6">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header aqua-gradient">
        <h2 class="card-header-title">{{numberOfCompletedEngagements}}</h2>
        <p><i class="fa fa-check"></i> Completed engagements</p>
      </div>

      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-md-6">
    <mdb-select [options]="optionsSelect" (ngModelChange)="loadPagination($event)" [(ngModel)]="selectedValue"
      placeholder="" [label]="'Select entries to display'"></mdb-select>
  </div>
  <div class="col-md-6">
    <mdb-select [options]="optionsEnselect" (ngModelChange)="filterEngagement($event)" [(ngModel)]="enSelectedValue"
      placeholder="" [label]="'Select Engagement status'"></mdb-select>
  </div>
  <div class="col-12 mb-lg-5">
  </div>
  <div class="col-12 mb-lg-5">
  </div>
  <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1" color="success">
    <thead class="sticky-top indigo lighten-4">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="engagements" [sortBy]="headElements[i]"
          scope="col">{{head}}
          <mdb-icon icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <tbody #row>
      <mdb-spinner *ngIf="IsSpinner" spinnerType="big" spinnerColor="blue" class="center"></mdb-spinner>
      <tr mdbTableCol *ngFor="let el of engagements; let i = index">
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.subject}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.dateCreatedUtc | date:'dd/MM/yyyy'}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.scheduledDateUtc | date:'dd/MM/yyyy'}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{translateCommunicationMode(el.communicationMode)}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.startTime}}</td>
        <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{translateEnagementStatus(el.status)}}</td>
        <td *ngIf="(i+1 >= firstItemIndex && i < lastItemIndex) && hasEngagementReport(el)"><a *ngIf="!IsEngagementComplete(el)" (click)="downloadReport(el)"><i class="fa fa-cloud-download fa-2x"
              style="color: green"></i></a>&nbsp;<a *ngIf="!IsEngagementComplete(el)" (click)="uploadEngagementModal.show()"><i class="fa fa-cloud-upload fa-2x"
                style="color: red"></i></a></td>
        <td *ngIf="(i+1 >= firstItemIndex && i < lastItemIndex) && !hasEngagementReport(el)"><a *ngIf="IsEngagementAccepted(el)" (click)="uploadEngagementModal.show()"><i class="fa fa-cloud-upload fa-2x"
              style="color: red"></i></a><i *ngIf="!IsEngagementAccepted(el)">No Report</i></td>
              <div mdbModal #uploadEngagementModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-side modal-top-left " role="document">
                <div class="modal-content">
                  <div class="modal-header indigo lighten-4">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="uploadEngagementModal.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-cloud-upload"
                      style="color: red"></i> Upload Engagement Report</h4>
                  </div>
                  <div class="modal-body">
                    <app-engagement-report [engagementInput]="el" (engagementOutput)="onEngagementUploaded($event)"></app-engagement-report>
                  </div>
                  <div class="modal-footer indigo lighten-4">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="uploadEngagementModal.hide()"
                      mdbWavesEffect>Close</button>
                  </div>
                </div>
              </div>
              </div>
      </tr>
    </tbody>
    <tfoot class="indigo lighten-4 w-100">

      <tr>
        <td colspan="7">
          <mdb-table-pagination paginationAlign="" [searchDataSource]="engagements" (nextPageClick)="onNextPageClick($event)"
            (previousPageClick)="onPreviousPageClick($event)"></mdb-table-pagination>
        </td>
      </tr>

    </tfoot>
  </table>
</div>
<div class="row">
  <div class="col-md-4">
    <button mdbBtn type="button" color="danger" rounded="true" (click)="createEngagementModal.show()" mdbWavesEffect>Create
      Engagement</button>
  </div>
</div>
<div mdbModal #createEngagementModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-side modal-top-left modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header indigo lighten-4">
          <button type="button" class="close pull-right" aria-label="Close" (click)="createEngagementModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"><i class="fa fa-handshake-o" style="color:red;"></i> Create Engagement</h4>
        </div>
        <div class="modal-body">
          <app-createengagment (createdEngagement)="engagementCreated($event)" (onGetAssignedMentor)="onMentorAssigned($event)"></app-createengagment>
        </div>
        <div class="modal-footer indigo lighten-4">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="createEngagementModal.hide()"
            mdbWavesEffect>Close</button>
        </div>
      </div>
    </div>
  </div>
