<div class="row">
    <div class="col-1"></div>
    <div class="col-md-10">
        <!--Card Primary-->
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card white text-center z-depth-2">
                    <br/>
                    <h3 align="center" class="mb-4 font-weight-bold red-text">
                        <strong>Our 4 Axes of Impact</strong>
                    </h3>
                </div>
                <div class="col-3"></div> 
            </div>
            
        </div>
         
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <!--Card-->
                        <div class="card">
                          <!-- Card image -->
                          <div class="view overlay">
                            <img  class="card-img-top" src="assets/images/photo9.jpg" alt="Card image cap">
                            <a>
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                        
                          <!-- Social buttons -->
                          <div class="card-share">
                        
                            <div class="social-reveal">
                        
                              <!-- Facebook -->
                              <a type="button" class="btn-floating btn-fb mt-0 mx-1"><i class="fa fa-facebook"></i></a>
                              <!-- Twitter -->
                              <a type="button" class="btn-floating btn-tw mt-0 mx-1"><i class="fa fa-twitter"></i></a>
                              <!-- Google -->
                              <a type="button" class="btn-floating btn-gplus mt-0 mx-1"><i class="fa fa-google-plus"></i></a>
                        
                            </div>
                        
                            <!-- Button action -->
                            <!-- <a class="btn-floating btn-action share-toggle indigo ml-auto mr-4 float-right"><i class="fa fa-share-alt"></i></a> -->
                        
                          </div>
                        
                          <!-- Card content -->
                          <div class="card-body">
                        
                            <!-- Title -->
                            <h4 class="card-title pink-text"><i class="fa fa-mortar-board"></i> Educational Support Programme</h4>
                            <hr>
                            <!-- Text -->
                            <p class="card-text">Promotes the attainment of quality education by supporting young, needy people to achieve their dreams and fulfill their destiny.</p>
                            <button class="btn btn-indigo btn-rounded btn-md">Read more</button>
                        
                          </div>
                        </div>
                        <!--/.Card-->
                      </div>
                    <div class="col-md-3">
                      <!--Card-->
                      <!-- Card -->
                      <div class="card">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top" src="assets/images/Photo10.jpg" alt="Card image cap">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                    
                        <!-- Social buttons -->
                        <div class="card-share">
                    
                          <div class="social-reveal">
                    
                            <!-- Facebook -->
                            <a type="button" class="btn-floating btn-fb mt-0 mx-1"><i class="fa fa-facebook"></i></a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-tw mt-0 mx-1"><i class="fa fa-twitter"></i></a>
                            <!-- Google -->
                            <a type="button" class="btn-floating btn-gplus mt-0 mx-1"><i class="fa fa-google-plus"></i></a>
                    
                          </div>
                    
                          <!-- Button action -->
                          <!-- <a class="btn-floating btn-action share-toggle indigo ml-auto mr-4 float-right"><i class="fa fa-share-alt"></i></a> -->
                    
                        </div>
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                          <!-- Title -->
                          <h4 class="card-title pink-text"><i class="fa fa-group"></i> Mentorship Support programme</h4>
                          <hr>
                          <!-- Text -->
                          <p class="card-text">We believe every young live needs guidance to bring out their best. We uniquely match our award recipients with the right mentors.</p>
                          <button class="btn btn-indigo btn-rounded btn-md">Read more</button>
                    
                        </div>
                      </div>
                      <!-- Card -->
                      <!--/.Card-->
                    </div>
                  
                    <div class="col-md-3">
                      <!--Card-->
                      <!-- Card -->
                      <div class="card">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top" src="assets/images/photo12.jpg" alt="Card image cap">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                    
                        <!-- Social buttons -->
                        <div class="card-share">
                    
                          <div class="social-reveal">
                    
                            <!-- Facebook -->
                            <a type="button" class="btn-floating btn-fb mt-0 mx-1"><i class="fa fa-facebook"></i></a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-tw mt-0 mx-1"><i class="fa fa-twitter"></i></a>
                            <!-- Google -->
                            <a type="button" class="btn-floating btn-gplus mt-0 mx-1"><i class="fa fa-google-plus"></i></a>
                    
                          </div>
                    
                          <!-- Button action -->
                          <!-- <a class="btn-floating btn-action share-toggle indigo ml-auto mr-4 float-right"><i class="fa fa-share-alt"></i></a> -->
                    
                        </div>
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                          <!-- Title -->
                          <h4 class="card-title pink-text"><i class="fa fa-money"></i> Economic entrust programme</h4>
                          <hr>
                          <!-- Text -->
                          <p class="card-text">We support young people looking to become entrepreneurs, by providing start-up capital for viable business ideas.</p>
                          <button class="btn btn-indigo btn-rounded btn-md">Read more</button>
                    
                        </div>
                      </div>
                      <!-- Card -->
                      <!--/.Card-->
                    </div>
                  
                    <div class="col-md-3">
                      <!--Card-->
                      <!-- Card -->
                      <div class="card">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top" src="assets/images/photo13.jpg" alt="Card image cap">
                          <a>
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                    
                        <!-- Social buttons -->
                        <div class="card-share">
                    
                          <div class="social-reveal">
                    
                            <!-- Facebook -->
                            <a type="button" class="btn-floating btn-fb mt-0 mx-1"><i class="fa fa-facebook"></i></a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-tw mt-0 mx-1"><i class="fa fa-twitter"></i></a>
                            <!-- Google -->
                            <a type="button" class="btn-floating btn-gplus mt-0 mx-1"><i class="fa fa-google-plus"></i></a>
                    
                          </div>
                    
                          <!-- Button action -->
                          <!-- <a class="btn-floating btn-action share-toggle indigo ml-auto mr-4 float-right"><i class="fa fa-share-alt"></i></a> -->
                    
                        </div>
                    
                        <!-- Card content -->
                        <div class="card-body">
                    
                          <!-- Title -->
                          <h4 class="card-title pink-text"><i class="fa fa-child"></i> Self discovery programme</h4>
                          <hr>
                          <!-- Text -->
                          <p class="card-text">By holding several seminars and workshops for educated youths in all levels, we are able help them discover their purpose in life.</p>
                          <button class="btn btn-indigo btn-rounded btn-md">Read more</button>
                    
                        </div>
                      </div>
                      <!-- Card -->
                    </div>
                    </div>
            </div>
        <!-- </div> -->
        <!--/.Card Primary-->
    </div>
    <div class="col-1"></div>
  </div>