<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-lg-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-skype"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
      <!-- Links -->

<!-- Search form -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-phone">+234(0)8063786315, +234(0)8166199904</i></a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-envelope"></i>vision@hillcityfoundation.org</a>
      </li>
      </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-light navbar-expand-lg white lighten-5">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
        <img src="assets/images/logotrim.png" alt="">
    </a>
</mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      
      <!-- Links -->

<!-- Search form -->
<ul class="navbar-nav ml-auto">
  <li class="nav-item active">
      <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>About</a>
  </li>
  <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>4 axes of impact</a>
  </li>

  <!-- Dropdown -->
  <li class="nav-item dropdown" dropdown>
      <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
      Alumini<span class="caret"></span></a>
      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
      </div>
  </li>
  <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Get Involved</a>
  </li>
  <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
  </li>
</ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->