
<div style="width: 100%">
  <app-navs></app-navs>
  <div class="indigo lighten-5">
    <br/>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <mdb-card cascade="true" rounded="true" wider="true" reverse="true" class="my-3">
          <!--Card image-->
          
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-carousel [isControls]="true" [animation]="'slide'" rounded="true">
                  <!--First slide-->
                  <mdb-carousel-item>
                      <div class="view w-100">
                            <img class="d-block w-100" src="assets/images/chillcity1.jpg" alt="First slide">
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                      </div>
                      <div class="carousel-caption" style="text-align: left">
                           <div class="row">
                               <div class="col-5">
                                    <mdb-card style="opacity:0.7">
                                            <mdb-card-header class="black-text">
                                                <h4><strong><b>ADDING VALUE TO LIVES</b></strong></h4>
                                            </mdb-card-header>
                                            <mdb-card-title class="black-text">
                                                
                                            </mdb-card-title>
                                            <mdb-card-body>
                                              <mdb-card-text>
                                                <p>Over 10 year of continuous <strong>DISCOVERY, DEVELOPMENT, MENTORING AND DEPLOYING</strong> young lives</p>
                                                <p><i class="fa fa-mortar-board" style="color:red"></i> <strong> Educational Support</strong> Programme</p>
                                                  </mdb-card-text>
                                            </mdb-card-body>
                                  </mdb-card>
                               </div>
                           </div>
                            
                      </div>
                  </mdb-carousel-item>
                  <mdb-carousel-item>
                        <div class="view w-100">
                                <img class="d-block w-100" src="assets/images/chillcity8.jpg" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                          </div>
                          <div class="carousel-caption" style="text-align: left">
                               <div class="row">
                                   <div class="col-5">
                                        <mdb-card style="opacity:0.7">
                                                <mdb-card-header class="black-text">
                                                    <h4><strong><b>ADDING VALUE TO LIVES</b></strong></h4>
                                                </mdb-card-header>
                                                <mdb-card-title class="black-text">
                                                    
                                                </mdb-card-title>
                                                <mdb-card-body>
                                                  <mdb-card-text>
                                                    <p>Over 10 year of continuous <strong>DISCOVERY, DEVELOPMENT, MENTORING AND DEPLOYING</strong> young lives</p>
                                                    <p><i class="fa fa-group" style="color:red"></i> <strong> MentorShip</strong>  programme</p>
                                                      </mdb-card-text>
                                                </mdb-card-body>
                                      </mdb-card>
                                   </div>
                               </div>
                                
                          </div>
                  </mdb-carousel-item>
                  <!--/First slide-->
                  <!--Second slide-->
                  <mdb-carousel-item>
                        <div class="view w-100">
                                <img class="d-block w-100" src="assets/images/chillcity3.jpg" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                          </div>
                          <div class="carousel-caption" style="text-align: left">
                               <div class="row">
                                   <div class="col-5">
                                        <mdb-card style="opacity:0.7">
                                                <mdb-card-header class="black-text">
                                                    <h4><strong><b>ADDING VALUE TO LIVES</b></strong></h4>
                                                </mdb-card-header>
                                                <mdb-card-title class="black-text">
                                                    
                                                </mdb-card-title>
                                                <mdb-card-body>
                                                  <mdb-card-text>
                                                    <p>Over 10 year of continuous <strong>DISCOVERY, DEVELOPMENT, MENTORING AND DEPLOYING</strong> young lives</p>
                                                    <p><i class="fa fa-money" style="color:red"></i> <strong> Economic Empowerment</strong>  Programme</p>
                                                      </mdb-card-text>
                                                </mdb-card-body>
                                      </mdb-card>
                                   </div>
                               </div>
                                
                          </div>
                  </mdb-carousel-item>
                  <!--/Second slide-->
                  <!--Third slide-->
                  <mdb-carousel-item>
                        <div class="view w-100">
                                <img class="d-block w-100" src="assets/images/chillcity7.jpg" alt="First slide">
                                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                          </div>
                          <div class="carousel-caption" style="text-align: left">
                               <div class="row">
                                   <div class="col-5">
                                        <mdb-card style="opacity:0.7">
                                                <mdb-card-header class="black-text">
                                                    <h4><strong><b>ADDING VALUE TO LIVES</b></strong></h4>
                                                </mdb-card-header>
                                                <mdb-card-title class="black-text">
                                                    
                                                </mdb-card-title>
                                                <mdb-card-body>
                                                  <mdb-card-text>
                                                    <p>Over 10 year of continuous <strong>DISCOVERY, DEVELOPMENT, MENTORING AND DEPLOYING</strong> young lives</p>
                                                    <p><i class="fa fa-mortar-board" style="color:red"></i> <strong> Self Discovery and Development</strong>  programme</p>
                                                      </mdb-card-text>
                                                </mdb-card-body>
                                      </mdb-card>
                                   </div>
                               </div>
                                
                          </div>
                  </mdb-carousel-item>
                  <!--/Third slide-->
              </mdb-carousel>
          </div> 
        
          <mdb-card-body cascade="true" class="text-center">
        
            <!--Title-->
            <section class="py-4 text-center text-lg-left">
    
                <!--Grid row-->
                <div class="row">
    
                    <!--Grid column-->
                    <div class="col-lg-5 col-xl-5 pb-3">
                        <!--Featured image-->
                        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                            <img src="assets/images/banner2.jpg" alt="Sample image for first version of blog listing"
                                class="img-fluid">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-lg-7 col-xl-7">
                        <!--Excerpt-->
                        <a href="" class="red-text">
                            <h6 class="font-weight-bold pb-1">
                                <i class="fa fa-mortar-board"></i> e-Portal</h6>
                        </a>
                        <h3 class="mb-4 font-weight-bold red-text">
                            <strong>Welcome to HillCity Foundation</strong>
                        </h3>
                        <p>We are a non-profit organization established with the sole purpose of adding value to young people in a sustainable manner. Using the our unique "4-axis of impact". Our vision is to discover, develop and deploy young destinies, enabling them fulfill their potentials maximally. </p>
                        
                        <button type="button" mdbBtn color="danger" rounded="true" mdbWavesEffect (click) ="SignIn()">Sign in</button>
                    </div>
                    <!--Grid column-->
    
                </div>
                <!--Grid row-->
            </section>
            <div class="row">
                
            
                <div class="col-md-12">
            
                    <!--Card Warning-->
                    <div class="card indigo text-center z-depth-2">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="col-3 pull-left bold white-text mb-0">
                                    <span class="fa fa-newspaper-o"></span>
                                  HCF
                                  news <img src="assets/images/giphy.gif" width="30" height="30"></div>
                                <div class="col-sm-5 col-xs-7 col-md-8 col-lg-7 pull-left panel-warning">
                                    <marquee behavior="scroll" direction="left" scrollamount="3" class="sponsor"><span class="white-text mb-0">New Approach to HillCity Mentorship: Click the sign in button above, Login and find out more</span></marquee>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
          </mdb-card-body>
          
        </mdb-card>
        
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <app-axis></app-axis>
    <br/>
  </div>
  <app-footer></app-footer>
</div>

      

