<div class="row" style="height: 500px;overflow-y: auto">
    <div class="col-12 ml-3">
        <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
            <mdb-card-header>
                <h5>Engagement Info</h5>
            </mdb-card-header>
            <mdb-card-body>
              <div>
                <p><i class="fa fa-handshake-o"></i> ID:  {{engagementInput.subject}}</p>
                <p><i class="fa fa-user"></i> Requested by:  {{engagementInput.mentee.user.firstName}} {{engagementInput.mentee.user.lastName}}</p>
                <p><i class="fa fa-calendar"></i> Date:  {{engagementInput.scheduledDateUtc | date:'dd/MM/yyyy'}}</p>
                <p><i class="fa fa-clock-o"></i> Time:  {{engagementInput.startTime}}</p>
                <p><i class="fa fa-external-link"></i> Mode:  {{translateCommunicationMode(engagementInput.communicationMode)}}</p>
              </div>
            </mdb-card-body> 
          </mdb-card>
    </div>
    <div class="col-12 ml-3">
        <mdb-card class="text-white mb-3" bgColor="bg-secondary" style="max-width: 20rem">
            <mdb-card-body>
              <mdb-card-text class="text-white">
                <p><strong>WHAT IS EXPECTED OF YOU: </strong>As a mentor you are expected to meet physically or electronically with your mentee.</p>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
    </div>
    <div class="col-12 ml-3 mr-3">
      <p class="align-content-center">If an alternative date is prefered please click on <i class="fa fa-pencil-square-o" style="color: red"></i> in the engagement list</p>
    </div>
    <div class="col-6 ml-5">
        <button mdbBtn color="success" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" (click)="onAccept()" [disabled]="IsengagementAccepted">Accept</button>
    </div>
</div>
