<h4><i class="fa fa-user-secret" style="color:red;"></i> Mentor profile</h4>
<form class="text-center" style="color: #757575;" [formGroup]="mentorFormGroup" (ngSubmit)="onSubmit()">
    
    <!-- Email -->
    <div class="md-form">
      <input type="text" id="materialLoginFormUOccupation" class="form-control" mdbInputDirective formControlName="occupation">
      <label for="materialLoginFormOccupation">Occupation</label>
    </div>

    <!-- Password -->
    <div class="md-form">
        <input type="text" id="materialLoginFormState" class="form-control" mdbInputDirective formControlName="state">
        <label for="materialLoginFormState">State</label>
    </div>

    <div class="md-form">
      <input type="text" id="materialLoginFormCountry" class="form-control" mdbInputDirective formControlName="country">
      <label for="materialLoginFormCountry">Country</label>
  </div>
    <!-- Sign in button -->
      <button type="submit" mdbBtn color="danger" rounded="true" mdbWavesEffect class="my-4 waves-effect z-depth-0" [disabled]="!mentorFormGroup.valid">Save</button>

    <!-- Register -->

</form>